{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="row justify-content-center">

<div class="col-md-5">

<div class="glass">

<h2 class="text-center mb-4">
Login
</h2>

<form method="POST">

<input
type="text"
name="username"
class="form-control mb-3"
placeholder="Username"
required>

<input
type="password"
name="password"
class="form-control mb-3"
placeholder="Password"
required>

<button
class="btn btn-light w-100">
Login
</button>

</form>

<br>

<p class="text-center">

Don't have an account?

<a href="/register" class="text-warning">
Register
</a>

</p>

</div>

</div>

</div>

{% endblock %}